*

!examples
!examples/*.gleam

!.gitignore
!LICENSE
!README.md
!image.webp

!flake.nix
!flake.lock

!gleam.toml
!manifest.toml
!src
!src/*.gleam
!src/effect
!src/effect/*.gleam
!test
!test/*.gleam
!test/effect
!test/effect/*.gleam
